admin-email-automation.json
{
    "name": "Integration Gmail, Make AI Toolkit, Google Sheets",
    "flow": [
        {
            "id": 1,
            "module": "google-email:executeEmailSearchQuery",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 8327498
            },
            "mapper": {
                "date": {},
                "size": {
                    "unit": "M",
                    "criteria": "larger"
                },
                "limit": "1",
                "folder": "INBOX",
                "format": "full",
                "criteria": "is:unread",
                "filterType": "simpleSearch",
                "hasAttachment": false,
                "includeHtmlBody": false
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "size": {
                            "nested": {
                                "unit": {
                                    "mode": "chose",
                                    "label": "MB (megabytes)"
                                },
                                "criteria": {
                                    "mode": "chose",
                                    "label": "Greater than"
                                }
                            }
                        },
                        "folder": {
                            "mode": "chose",
                            "label": "Inbox"
                        },
                        "format": {
                            "mode": "chose",
                            "label": "Full content"
                        },
                        "criteria": {
                            "mode": "chose",
                            "label": "Only unread messages"
                        },
                        "labelIds": {
                            "mode": "chose"
                        },
                        "filterType": {
                            "mode": "chose",
                            "label": "Simple filter"
                        },
                        "hasAttachment": {
                            "mode": "chose"
                        },
                        "includeHtmlBody": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            },
                            "label": "My Gmail connection (mariammuhammed802@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "filterType",
                        "type": "select",
                        "label": "Filter type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "simpleSearch",
                                "gmailSearch"
                            ]
                        }
                    },
                    {
                        "name": "format",
                        "type": "select",
                        "label": "Content format",
                        "validate": {
                            "enum": [
                                "full",
                                "raw",
                                "metadata",
                                "minimal"
                            ]
                        }
                    },
                    {
                        "name": "folder",
                        "type": "select",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "labelIds",
                        "type": "select",
                        "label": "Label"
                    },
                    {
                        "name": "criteria",
                        "type": "select",
                        "label": "Criteria",
                        "required": true,
                        "validate": {
                            "enum": [
                                "all",
                                "is:read",
                                "is:unread"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true,
                        "validate": {
                            "max": 500
                        }
                    },
                    {
                        "name": "from",
                        "type": "email",
                        "label": "Sender email address"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "includeWords",
                        "type": "text",
                        "label": "Has the words"
                    },
                    {
                        "name": "excludeWords",
                        "type": "text",
                        "label": "Doesn't have"
                    },
                    {
                        "name": "size",
                        "spec": [
                            {
                                "name": "criteria",
                                "type": "select",
                                "label": "Criteria",
                                "validate": {
                                    "enum": [
                                        "larger",
                                        "smaller"
                                    ]
                                }
                            },
                            {
                                "name": "amount",
                                "type": "integer",
                                "label": "Size",
                                "validate": {
                                    "min": 0
                                }
                            },
                            {
                                "name": "unit",
                                "type": "select",
                                "label": "Size unit",
                                "validate": {
                                    "enum": [
                                        "M",
                                        "K",
                                        "bytes"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Email size"
                    },
                    {
                        "name": "date",
                        "spec": [
                            {
                                "name": "from",
                                "time": false,
                                "type": "date",
                                "label": "From"
                            },
                            {
                                "name": "to",
                                "time": false,
                                "type": "date",
                                "label": "To"
                            }
                        ],
                        "type": "collection",
                        "label": "Date"
                    },
                    {
                        "name": "hasAttachment",
                        "type": "boolean",
                        "label": "Only emails with attachments/media",
                        "required": true
                    },
                    {
                        "name": "includeHtmlBody",
                        "type": "boolean",
                        "label": "Include HTML body",
                        "required": true
                    },
                    {
                        "name": "filterType",
                        "type": "select",
                        "label": "Filter type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "simpleSearch",
                                "gmailSearch"
                            ]
                        }
                    },
                    {
                        "name": "format",
                        "type": "select",
                        "label": "Content format",
                        "validate": {
                            "enum": [
                                "full",
                                "raw",
                                "metadata",
                                "minimal"
                            ]
                        }
                    },
                    {
                        "name": "folder",
                        "type": "select",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "labelIds",
                        "type": "select",
                        "label": "Label"
                    },
                    {
                        "name": "criteria",
                        "type": "select",
                        "label": "Criteria",
                        "required": true,
                        "validate": {
                            "enum": [
                                "all",
                                "is:read",
                                "is:unread"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true,
                        "validate": {
                            "max": 500
                        }
                    },
                    {
                        "name": "from",
                        "type": "email",
                        "label": "Sender email address"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "includeWords",
                        "type": "text",
                        "label": "Has the words"
                    },
                    {
                        "name": "excludeWords",
                        "type": "text",
                        "label": "Doesn't have"
                    },
                    {
                        "name": "size",
                        "spec": [
                            {
                                "name": "criteria",
                                "type": "select",
                                "label": "Criteria",
                                "validate": {
                                    "enum": [
                                        "larger",
                                        "smaller"
                                    ]
                                }
                            },
                            {
                                "name": "amount",
                                "type": "integer",
                                "label": "Size",
                                "validate": {
                                    "min": 0
                                }
                            },
                            {
                                "name": "unit",
                                "type": "select",
                                "label": "Size unit",
                                "validate": {
                                    "enum": [
                                        "M",
                                        "K",
                                        "bytes"
                                    ]
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Email size"
                    },
                    {
                        "name": "date",
                        "spec": [
                            {
                                "name": "from",
                                "time": false,
                                "type": "date",
                                "label": "From"
                            },
                            {
                                "name": "to",
                                "time": false,
                                "type": "date",
                                "label": "To"
                            }
                        ],
                        "type": "collection",
                        "label": "Date"
                    },
                    {
                        "name": "hasAttachment",
                        "type": "boolean",
                        "label": "Only emails with attachments/media",
                        "required": true
                    },
                    {
                        "name": "includeHtmlBody",
                        "type": "boolean",
                        "label": "Include HTML body",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Message ID"
                    },
                    {
                        "name": "threadId",
                        "type": "text",
                        "label": "Thread ID"
                    },
                    {
                        "name": "internalDate",
                        "type": "date",
                        "label": "Date"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject",
                        "condition": true
                    },
                    {
                        "name": "fromName",
                        "type": "text",
                        "label": "From (name)",
                        "condition": true
                    },
                    {
                        "name": "fromEmail",
                        "type": "text",
                        "label": "From (email)",
                        "condition": true
                    },
                    {
                        "name": "to",
                        "spec": {
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name"
                                },
                                {
                                    "name": "email",
                                    "type": "text",
                                    "label": "Email"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "To",
                        "condition": true
                    },
                    {
                        "name": "cc",
                        "spec": [
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "CC",
                        "condition": true
                    },
                    {
                        "name": "bcc",
                        "spec": [
                            {
                                "name": "email",
                                "type": "email",
                                "label": "Email"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "BCC",
                        "condition": true
                    },
                    {
                        "name": "snippet",
                        "type": "text",
                        "label": "Snippet"
                    },
                    {
                        "name": "fullTextBody",
                        "type": "text",
                        "label": "Full text body",
                        "condition": true
                    },
                    {
                        "name": "htmlBody",
                        "type": "text",
                        "label": "HTML body",
                        "condition": true
                    },
                    {
                        "name": "hasAttachment",
                        "type": "boolean",
                        "label": "Has attachment",
                        "condition": true
                    },
                    {
                        "name": "hasMedia",
                        "type": "boolean",
                        "label": "Has media",
                        "condition": true
                    },
                    {
                        "name": "sysFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "System folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "System folder name"
                            }
                        ],
                        "type": "array",
                        "label": "System folders"
                    },
                    {
                        "name": "categoryFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "Category folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Category folder name"
                            }
                        ],
                        "type": "array",
                        "label": "Category folders"
                    },
                    {
                        "name": "userLabelFolders",
                        "spec": [
                            {
                                "name": "id",
                                "type": "text",
                                "label": "User label folder ID"
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "User label folder name"
                            }
                        ],
                        "type": "array",
                        "label": "User label folders"
                    },
                    {
                        "name": "labelIds",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Message folder IDs"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "Delivered-To",
                                "type": "text",
                                "label": "Delivered-To"
                            },
                            {
                                "name": "Received",
                                "type": "text",
                                "label": "Received"
                            },
                            {
                                "name": "Date",
                                "type": "text",
                                "label": "Date (header)"
                            },
                            {
                                "name": "X-Original-Sender",
                                "type": "text"
                            },
                            {
                                "name": "Reply-To",
                                "type": "text"
                            },
                            {
                                "name": "Subject",
                                "type": "text",
                                "label": "Subject"
                            },
                            {
                                "name": "From",
                                "type": "text",
                                "label": "From"
                            },
                            {
                                "name": "To",
                                "type": "text",
                                "label": "To"
                            },
                            {
                                "name": "Message-ID",
                                "type": "text",
                                "label": "Message-ID"
                            },
                            {
                                "name": "In-Reply-To",
                                "type": "text",
                                "label": "In-Reply-To"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers",
                        "condition": true
                    },
                    {
                        "name": "sizeEstimate",
                        "type": "number",
                        "label": "Size estimate"
                    },
                    {
                        "name": "historyId",
                        "type": "text",
                        "label": "History ID"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "ai-tools:Ask",
            "version": 2,
            "parameters": {
                "model": "small",
                "makeConnectionId": 8200544
            },
            "mapper": {
                "input": "You are an elite, highly professional AI Customer Support Agent for Empress. Your primary goal is to answer user questions clearly, confidently, and concisely based ONLY on the company rules provided below.\r\n\r\nCOMPANY POLICIES & KNOWLEDGE BASE:\r\n- Pricing Strategy: Setup fee is $600.\r\n- Key Objective: Always politely direct the customer to book a calendar appointment using our link to finalize their onboarding.\r\n- Core Values: Be helpful, empathetic, and professional. Never make up details or pricing if it is not explicitly listed here.\n\nBOOKING LINK: https://calendly.com\r\n\r\nINSTRUCTIONS FOR YOUR RESPONSE:\nAlways start the response with a warm professional greetings using the sender name if available or hello\r\n1. Keep the reply brief and scannable (under 3 short paragraphs).\r\n2. Directly answer their main question using the facts listed above.\r\n3. Close the email by providing a clear next step to schedule a call.\r\n\r\nCustomer Question:{{1.snippet}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "model": {
                            "mode": "chose",
                            "label": "SmallModel: gpt-5-nano. Reasoning: minimal. Efficiently handles long conversations and reasoning, delivering smart conclusions quickly",
                            "nested": []
                        },
                        "makeConnectionId": {
                            "data": {
                                "scoped": "true",
                                "connection": "ai-provider"
                            },
                            "label": "My AI Support Message"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "makeConnectionId",
                        "type": "account:ai-provider,openai-gpt-3,anthropic-claude,gemini-ai-q9zyjp,ai-agent-foundry-openai,ai-agent-foundry-non-openai,mistral-ai,cohere,groq,ai-agent-xai,amazon-bedrock,ai-agent-openai-compatible",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "input",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 8009788
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "0": "{{1.fromName}}",
                    "1": "{{1.fromEmail}}",
                    "2": "{{1.snippet}}",
                    "3": "{{3.answer}}"
                },
                "sheetId": "Sheet1",
                "spreadsheetId": "/14kYX2Ovk7Dy7x4Asg8-oSa-GlIyeCXl1ss7JjuStM-g",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "useColumnHeaders": false,
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Sheet1"
                        },
                        "spreadsheetId": {
                            "path": [
                                "EMPRESS spreadsheet"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "useColumnHeaders": {
                            "label": "No",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "Name  (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "Question (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "AI Reply (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "(D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "(E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "(F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "(G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "(H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "(I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "(J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "(K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "(L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "(M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "(N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "(O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "(P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "(Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values in columns",
                                    "metadata": [
                                        [
                                            [
                                                "Name ",
                                                "Question",
                                                "AI Reply"
                                            ]
                                        ]
                                    ]
                                }
                            ]
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (faizatalabi015@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "required": true,
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "useColumnHeaders",
                        "type": "select",
                        "label": "Use column headers as IDs of the columns",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Name  (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Question (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "AI Reply (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "(D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "(E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "(F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "(G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "(H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "(I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "(J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "(K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "(L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "(M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "(N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values in columns",
                        "metadata": [
                            [
                                [
                                    "Name ",
                                    "Question",
                                    "AI Reply"
                                ]
                            ]
                        ]
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "google-email:replyToAnEmail",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 8273402
            },
            "mapper": {
                "content": "{{3.answer}}",
                "bodyType": "rawHtml",
                "threadId": "{{1.threadId}}",
                "replyMode": "sender"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Raw HTML"
                        },
                        "replyMode": {
                            "mode": "chose",
                            "label": "Reply to sender only"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "emailHeaders": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-email"
                            },
                            "label": "My Gmail connection (mariammuhammed802@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-email",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "threadId",
                        "type": "text",
                        "label": "Thread ID",
                        "required": true
                    },
                    {
                        "name": "replyMode",
                        "type": "select",
                        "label": "Reply mode",
                        "required": true,
                        "validate": {
                            "enum": [
                                "all",
                                "sender",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "From"
                    },
                    {
                        "name": "emailHeaders",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Email header"
                        },
                        "type": "array",
                        "label": "Additional email headers"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "rawHtml",
                                "collection"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "filename",
                                    "type": "filename",
                                    "label": "File name",
                                    "required": true,
                                    "semantic": "file:name"
                                },
                                {
                                    "name": "data",
                                    "type": "buffer",
                                    "label": "Data",
                                    "required": true,
                                    "semantic": "file:data"
                                }
                            ],
                            "type": "collection",
                            "label": "Attachment"
                        },
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }