Automation.json
{
    "name": "Integration JSON",
    "flow": [
        {
            "id": 1,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {},
            "mapper": {
                "json": "{\t\"all_guests\": [ {\t\"name\": \"Paul\" , \"dietary_preference\": \"vegan\",\t\"preferred_music\": \"indie\"} , {\"name\" : \"Ivana\" , \"dietary_preference\" : \"none\" , \"preferred_music\" : \"rap\"} , {\"name\": \"Lukas\" , \"dietary_preference\" : \"vegetarian\" , \"preferred_music\": \"rock\"}  ]}"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "mapper": {
                "array": "{{1.all_guests}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicRouter",
            "version": 1,
            "filter": {
                "name": "IF NONE",
                "conditions": [
                    [
                        {
                            "a": "{{2.dietary_preference}}",
                            "b": "",
                            "o": "text:notequal"
                        }
                    ]
                ]
            },
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 2
                            },
                            "mapper": {
                                "name": "{{2.name}}",
                                "dietary_preference": "{{2.dietary_preference}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 998,
                                    "y": 59,
                                    "messages": [
                                        {
                                            "category": "last",
                                            "severity": "warning",
                                            "message": "You're not using the data generated by this module. Consider removing it, or add module(s) after it."
                                        }
                                    ]
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Iterator [2]"
                                        },
                                        "target": {
                                            "label": "Custom"
                                        }
                                    }
                                }
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "util:TextAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 2,
                                "rowSeparator": "\n"
                            },
                            "mapper": {
                                "value": "{{2.name}} - {{2.dietary_preference}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300,
                                    "messages": [
                                        {
                                            "category": "last",
                                            "severity": "warning",
                                            "message": "You're not using the data generated by this module. Consider removing it, or add module(s) after it."
                                        }
                                    ]
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Iterator [2]"
                                        }
                                    },
                                    "parameters": {
                                        "rowSeparator": {
                                            "label": "New row"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "rowSeparator",
                                        "type": "select",
                                        "label": "Row separator",
                                        "validate": {
                                            "enum": [
                                                "\n",
                                                "\t",
                                                "other"
                                            ]
                                        }
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "advanced": true
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}